<footer class="bg-dark pt-4 mt-auto container-fluid">

    <div class="row border-bottom border-white pb-4 mb-2">

        <div class="col-md-12  px-4 mt-2">

          <h5>Objeto <br/>Imposible</h5>

        </div>

        <div class="col-md-5 mt-2 text-end">

           {% if site.organization-logo-nav %} <p class="text-end">
                <a href="{{ site.organization-link }}" target="_blank" rel="noopener">
                    <img id="footer-logo" class="img-fluid" src="{{ site.organization-logo-nav | relative_url }}" alt="{{ site.organization-name }} home">
                </a>
            </p>
            {% endif %}
        </div>

    </div>


</footer>
