/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    color: #919191;
    background: url('/archivo/objects/demo_001.jpg');
    background-position-x: 0%;
    background-position-y: 0%;
    background-size: auto;
    background-position: center -630%;
    background-size: cover;
}

p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: arial;
    font-size: 1rem;
    margin-bottom: 2rem;
}

p a {
    color: white;
    text-decoration: underline;
}

table.dataTable>thead>tr>th:not(.sorting_disabled),
table.dataTable>thead>tr>td:not(.sorting_disabled) {
    padding-right: 30px;
    font-size: 1rem;
    line-height: 1.1;
    padding-bottom: 1rem;
}

table.dataTable td,
table.dataTable th {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-size: 0.9rem;
    padding: 1rem;
}

td a {
    color: white;
    text-decoration: underline;
}

td a:hover,
td a:focus {
    color: white;
    text-decoration: none;
}


#title {
    padding: 2rem calc(var(--bs-gutter-x) * .5);
    display: none;

    p {
        margin-bottom: 0;
    }
}

#maincontent {
    background: black;
    min-height: 100vh;
    p {
        font-size: 0.97rem;
        margin-bottom: 2rem;
    }
}

#item-format {
    padding: 2rem 0 0.5rem;
}

#item-title {
    margin-bottom: 3rem !important;
    margin-top: 0;
}

.breadcrumb {
    padding: 2rem 0 0;
}

dd,
dt,
.navbar-expand-lg .navbar-nav {
    font-size: 1rem;
}

#browse-buttons {
    margin: 3rem 0 6rem;

    .btn {
        border-color: white;
        color: white;
        background: none;
    }

    .btn:hover {
        color: #fff;
        background-color: white;
        border-color: white;
        color: black !important;
    }
}

h1.display-4 {
    font-size: 32rem;
    text-align: center;
    display: none;
}

.card-title {
    margin: 1rem 0;
}
.card-text{
    a{
        color: black;
        text-decoration: underline;
    }
    a:hover, a:focus{
        text-decoration: none;
    }
}
a {
    color: black;
}
.btn{
    font-family: 'Inter', sans-serif;
}
.btn-primary {
    background: black;
}

.btn-outline-primary {
    border-color: black;
    color: black;
}

a:hover,
a:focus {
    text-decoration: underline;
}

.navbar {
    border-top: 1px solid #464646;
}

.navbar-expand-lg {
    position: fixed !important;
    bottom: 0 !important;
    width: 100% !important;
    display: block !important;
    background: white !important;
    z-index: 100 !important;
}

#home-title-box {
    min-height: 100vh;
    padding-top: 0 !important;

    p {
        display: none;
    }
}

.bi.icon-sprite,
h1 {
    color: black;
}

#scroll-to-top {
    top: 0 !important;
    bottom: auto;
}

.banner-credits {
    padding: 0.3rem 1rem 0.4rem !important;

    a {
        font-size: 0.8rem !important;
    }
}

.table-responsive-md {
    margin-top: 3rem;
}

#item-table_wrapper {
    .dt-buttons {
        display: none;
    }
}

#item-table_info {
    margin: 0 0 8rem;
}

#home-title-box,
#item-table_info,
#item-table_paginate {
    font-size: 0.9rem;
}

.barrabusqueda {
    padding: 3rem 0;
}

#browseSortButton {
    display: none;
}

#oi-tag {
    padding: 3rem 0 5rem;
    color: white;
}

.breadcrumb {
    background: none;
}

.card {
    background-color: none;
}

a:hover {
    color: white;
    text-decoration: underline;
}

table,
.table-striped>tbody>tr:nth-of-type(2n+1)>* {
    color: white;
}

tr.odd,
tr.even {
    border: 1px solid rgba(255, 255, 255, 0.24);
    color: white;
}

h2 {
    text-transform: capitalize;
    margin: 4rem 0 2rem 0;
}

.form-control {
    background: rgba(255,255,255,0.2);
  border: 1px solid #464646;
    color: white;

}

#numberOf {
    display: none;
}

.nav-link,
{
color: black;
text-decoration: underline;
font-size:1.2rem;
}

.nav-link:focus,.navbar-expand-lg
.nav-link:hover {
    color: black;
    text-decoration: none;
}

footer {
    display: none;
}

#home-banner {
    background-image: url('/archivo/objects/demo_001.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center bottom;
    max-height: 100vh;
    overflow: hidden;
    position: absolute;
}

.about-nav {
    background: none !important;
}

.about-contents>h2 {
    border-top: 1px dotted #a2a2a2;
}

@media only screen and (max-width: 600px) {
    h1.display-4 {
        font-size: 13rem;
    }
}

h1,
h1 a {
    mix-blend-mode: difference;
    color: #0087ff;
}

h1 a:hover {
    color: black;
    mix-blend-mode: normal !important;
    text-decoration: none;
}

p {
    color: white;
}

.modal-body {
    p {
        color: black;
    }
}

#map {
    position: absolute;
    outline: none;
    min-width: 100%;
    top: 0;
    min-height: 100vh;
    z-index: 2;
}

#technical {
    margin-bottom: 6rem;

    a {
        color: white;
        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }
}

.border {
    border: 1px solid rgba(255, 255, 255, 0.24) !important;
}

#item-table,
#item-metadata {
    color: rgba(255, 255, 255, 0.7);
    font-family: 'Inter', sans-serif;
}

.btn-primary:hover {
    color: #fff;
    background-color: blue;
    border-color: blue;
}

.btn-outline-primary {
    border-color: white;
    color: white;
}

.btn-outline-primary:hover {
    color: #fff;
    background-color: white;
    border-color: white;
    color: black !important;
}

.card {
    background: none;
}

.breadcrumb-item a {
    color: white;
}

.field-value {
    .btn-link {
        border: 1px solid white;
        font-size: 0.8rem;
        margin: 1rem 0;
    }

    a {
        color: white;
        text-decoration: underline;
    }

    a:hover,
    a:focus {
        color: white;
        text-decoration: none;
    }
}

#dataModalLabel {
    color: black;
    mix-blend-mode: normal;
}

.marker-cluster {
    background-color: rgba(193, 193, 193, 0.6);
    span{
        color: white;
    }
}

.marker-cluster-small div {
    background-color: rgba(0, 0, 0, 0.6);
    font-weight: bolder;
}

.leaflet-popup-content {
    text-align: center;

    p {
        color: black;
        margin-bottom: 1rem !important;
        font-size: 0.8rem !important;
    }

    .btn {
        margin: 1rem 0 2rem 0;
        border: 1px solid black;
        color: black;
    }

    .h4,
    h4 {
        font-size: 1.2rem;
        margin: 2rem 0;
        font-family: 'Fraunces', serif;
    }
}

.btn-group {
    margin-top: 2rem;
}

#item-nav a {
    position: fixed;
    top: 50%;
}

#item-nav a:hover,
#item-nav a:focus {
    color: black;
    background: white;
    text-decoration: none !important;
}

#item-nav .previous,
#item-nav .next {
    background: none;
    border: 1px solid white;
    height: 50px;
    line-height: 25px;
    font-size: 1.7rem;
}

p {
    color: #ffffff8c;
    font-family: 'inter', sans-serif;
}

a:hover img,
a:focus img {
    text-decoration: none;
}

audio {
    border: 1px solid #4a4a4a;
}

.spotlight:hover,
.spotlight:focus {
    text-decoration: none;
}
.modal-body{
    .modal-body{
        a{
            color: black;
            text-decoration: underline;
        }
        a:hover, a:focus{
            color: black;
            text-decoration: none;
        }
    }
}
label, #item-table_info{
    font-family: 'inter', sans-serif;
  font-size: 0.9rem;
}
#item-table_paginate, #item-table_info{
    margin-top: 2rem;
}
.leaflet-popup-content-wrapper{
    border-radius: 5px;
    background: #ffffffbf;
}
.navbar-nav{
    margin: 0 auto;
    font-size: 1.2rem;
}
.cc-txt{
    font-size: 0.8rem !important;
  margin-top: 0.25rem;
}
.btn-check:focus + .btn-outline-primary, .btn-outline-primary:focus{
    box-shadow: none;
}
.nav-link.active{
    font-weight: bolder;
  text-decoration: none;
}
@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
      padding-right: 1rem;
      padding-left: 1rem;
    }
  }