/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/


p {
    margin-top: 0;
    margin-bottom: 1rem;
    font-family: arial;
    font-size: 1rem;
    margin-bottom: 2rem;
  }
  table.dataTable > thead > tr > th:not(.sorting_disabled), table.dataTable > thead > tr > td:not(.sorting_disabled) {
    padding-right: 30px;
    font-size: 1rem;
    line-height: 1.1;
    padding-bottom: 1rem;
  }
  table.dataTable td, table.dataTable th {
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
    font-size: 0.9rem;
    padding: 1rem;
  }
  #title{
    padding: 2rem calc(var(--bs-gutter-x) * .5);
    p{
        margin-bottom: 0;
    }
  }
  #maincontent{
    p{
        font-size: 0.97rem;
        margin-bottom: 2rem;
    }
  }
  #item-format{
    padding: 2rem 0 0.5rem;
  }
  #item-title{
    margin-bottom: 3rem !important;
  }
  .breadcrumb{
    padding: 2rem 0 0;
  }
  dd, dt, .navbar-expand-lg .navbar-nav{
    font-size: 1rem;
  }
  #browse-buttons{
    margin: 3rem 0;
  }
  h1.display-4{
    font-size: 20rem;
  }
  .card-title {
    margin: 1rem 0;
  }
  a{
    color: blue;
  }
  .btn-primary{
    background: blue;
  }
  a:hover, a:focus{
    text-decoration: underline;
  }