<div class="container-fluid mt-4 mb-n3 p-4 " id="technical">
    <div class="container mt-4 border rounded p-4">
        <div class="row my-2 justify-content-center">
            <div class="col-md-8 p-4">
                Este archivo digital está construido con <a href="https://collectionbuilder.github.io/" target="_blank" rel="noopener">CollectionBuilder</a>. 
            </div>
            <div class="col-md-4 text-center align-self-center">
                <a class="btn btn-outline-primary my-2" target="_blank" rel="noopener" href="https://github.com/CollectionBuilder/collectionbuilder-gh">Especificaciones técnicas</a>
            </div>
        </div>
    </div>
</div>